<style type='text/css'>

* {
	box-sizing: border-box;
}

html, body{

}

body
{
 background:#FFFFFF;
 height: 100%;
}
 

.clockCont
{
 width: 80%;
 height: 100%;
 position: absolute;
 left: 50%;
 margin-left:-40%;
 background:#FFFFFF;
}

h1
{
 font-family: "Tahoma", Geneva, sans-serif;
 color: #C41E3A;
 font-size: 60px;
}

p{
 margin-top: 0em;
 margin-bottom: 0em;
 }
.clock p
{
 position: relative;
 font-size: 60px;
 float:left;
 color: #333333;
}

.alarm
{
 position: relative; 
 clear: left;
}

.alarm p
{
 position: relative;
 font-size: 34px;
 float: left;
 color: #333333;
}

.alarmForm
{
 position: relative; 
 clear: left; 
}

#setAlarm
{
 width: 100%;
 position: relative;
 float: left;
 background-color:#FFFFFF;
}

</style>
  
